{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{% static 'users/profile_styles.css' %}">
</head>
<body>
    <div class="profile-info">
        <div class="label">Username:</div>
        <div class="profile-value">{{ user.username }}</div>
        <div class="label">Email:</div>
        <div class="profile-value">{{ user.email }}</div>
        <!-- Agrega más campos según sea necesario -->
    </div>
    <div class="links-container">
        <span class="publicly-visible">(publicly visible)</span>
    </div>
</body>
</html>