.profile-info {
    display: grid;
    grid-template-columns: 77px 1fr; /* Ajusta 100px según el ancho necesario para las etiquetas */
    gap: 10px; /* Espacio entre la etiqueta y el valor */
    align-items: center;
    color: #777;
    margin-bottom: 5px; /* Ajusta según sea necesario */
}

.label {
    text-align: right; /* Alinea las etiquetas a la derecha */
}

.profile-value {
    text-align: left;
    color: #000;
}

/* Contenedor de enlaces (alinear en fila) */
.links-container {
    margin-left: 77px; /* Igual a la primera columna de .profile-info para alinear con los valores */
    margin-top: 10px;
    display: flex;
    align-items: center; /* Alinea los enlaces horizontalmente */
    gap: 10px; /* Espacio entre los enlaces */
}

/* Estilo para el separador / */
.links-container .separator {
    color: #777; /* Color del separador */
}

/* Estilo para el texto "(publicly visible)" */
.links-container .publicly-visible {
    font-style: italic; /* Estilo cursiva */
    color: #000; /* Puedes ajustar el color si lo deseas */
}
