{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacker News</title>
    <link rel="stylesheet" href="{% static 'news/styles.css' %}">
</head>
<body>
    <!-- Header Section -->
    <header>
        <nav>
            <ul class="nav-left">
                <li><a href="#" class="logo">Y</a></li>
                <li><a href="#" class="head">Hacker News</a></li>
                |
                <li><a href="#">new</a></li>
                |
                <li><a href="#">threads</a></li>
                |
                <li><a href="#">comments</a></li>
                |
                <li><a href="#">ask</a></li>
                |
                <li><a href="/submit">submit</a></li>
            </ul>
            <!-- Search bar and login section -->
            <div class="nav-right">
                <form class="search-form">
                    <input type="text" placeholder="Search">
                    <button type="submit">Search</button>
                </form>
                <a href="#" class="login">Login</a>
            </div>
        </nav>
    </header>

    <!-- Main Content Section -->
    <main>
        <section class="news-list">
            <ul>
                {% for submission in submissions %}
                    <div class="news-item">
                        <div class="news-title">
                            <a href="{{ submission.get_absolute_url }}">{{ submission.title }}</a>
                        </div>
                        <div class="news-details">
                            <a href="{{ submission.get_absolute_url }}">{{ submission.created }}</a>
                            | 
                            <a href="{{ submission.get_absolute_url }}#comments">{{ submission.comment_set.count }} comments</a>
                        </div>
                    </div>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>
</html>