{% for reply in replies %}
    <div class="comment" id="comment-{{ reply.id }}">
        <p class="comment-meta">
            <!-- Icono de comentario (Asterisco o Triángulo) -->
            {% if reply.author == request.user %}
                <span class="red-asterisk-comments">*</span>
                <span class="triangle-icon hidden "></span>
            {% elif reply.id in voted_comments%}
                <span class="triangle-icon hidden"></span>
            {% else %}
                <form action="{% url 'users:upvote_comment' reply.id %}?next={{ request.path }}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="triangle-icon"></button>
                </form>
            {% endif %}
            
            <span class="comment-author">
                by <strong>{{ reply.author.username }}</strong>
                <span class="comment-time">{{ reply.created_at|timesince }} ago</span>&nbsp;
            </span>
            {% if reply.id in voted_comments %}
                | <a href="{% url 'users:unvote_comment' reply.id %}?next={{ request.path }}" class="comment-link">unvote</a>
            {% endif %}
            <!-- Botones Editar y Eliminar -->
            {% if reply.author == request.user %}
                | &nbsp;<a href="{% url 'news:edit_comment' reply.id %}" class="comment-link">edit</a>&nbsp;
                | &nbsp;<a href="{% url 'news:confirm_delete' reply.id %}" class="comment-link">delete</a>
            {% endif %}
        </p>
        
        <div class="comment-content">
            <p class="comment-text">{{ reply.text }}</p>

            <!-- Enlace para responder a la respuesta -->
            <a href="{% url 'news:reply_to_comment' reply.id %}" class="reply-link">reply</a>
            
            <!-- Mostrar respuestas de esta respuesta, si existen -->
            <div class="replies" style="display: block; margin-left: 20px;">
                {% include 'reply_thread.html' with replies=reply.replies.all %}
            </div>
        </div>
    </div>
{% endfor %}